# Fetching data and Snowflake dependencies
yfinance
pandas
snowflake-connector-python
snowflake-connector-python[pandas]

# ML training and registry
scikit-learn
mlflow

# dbt pipeline
dbt-core 
dbt-snowflake
astronomer-cosmos
astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy